{{>header}}
    <!-- start page content wrapper-->
    <div class="page-content-wrapper">
  <!-- start page content-->
        <div class="page-content">
          <!--start breadcrumb-->
          <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">All Companies</div>
          </div>
          <!--end breadcrumb-->
             
          <!--start shop area-->
				<section class="shop-page">
					<div class="shop-container">
            <div class="card shadow-sm border-0">
             <div class="card-body">
						<div class="row">
              
							<div class="col-12 col-xl-12">
								<div class="product-wrapper">
                  <div class="card">
                    <div class="card-body">
                      <div class="position-relative">
                         <input type="text" class="form-control ps-5" placeholder="Search Company...">
                         <span class="position-absolute top-50 product-show translate-middle-y"><ion-icon name="search-sharp" class="ms-3 fs-6"></ion-icon></span>
                      </div>
                    </div>
                  </div>
									<div class="product-grid row">
											 {{#each company}}

                    <div class=" col-sm-12 col-xl-6 col-md-6 p-3 ">
						<div class="card product-card m-1">
											<div class="row g-0 m-1">
												<div class="col-md-6">
                          <div class="p-3">
                            <img src="{{companyImage}}" class="img-fluid" alt="...">
                          </div>
												</div>
												<div class="col-md-6">
													<div class="card-body">
														<div class="product-info">
															<a href="javascript:;">
																<p class="product-catergory font-13 mb-1">{{slug}}</p>
															</a>
															<a href="/companies/{{slug}}">
																<h6 class="product-name mb-2">{{companyName}}</h6>
															</a>
															<p class="card-text">{{companyDescription}}</p>
															
															<div class="product-action mt-2">
																<div class="d-flex gap-2">
																<a href="/companies/{{slug}}" class="btn btn-dark btn-ecomm">View Company</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											</div>
										</div>
										{{/each}}
                    
									</div>
								</div>
							</div>
						  </div><!--end row-->
            </div>
           </div>
					</div>
				</section>
				<!--end shop area-->

          </div>
          <!-- end page content-->
		  {{>footer}}